[mysqld]
# General log
general_log = 1
general_log_file = /var/log/mysql/mysqld.log

# Slow query log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# Error log
log_error = /var/log/mysql/error.log

# InnoDB log
innodb_log_file_size = 50M
